.about-wrapper {
  width: 100%;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 6%;
  gap: 50px;
  background: #fff;
}

/* IMAGE SECTION */
.about-image-box {
  flex: 1;
}

.about-image {
  width: 100%;
  height: 470px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.15);
  border: 3px solid #c7a35c;
}

/* TEXT SECTION */
.about-content {
  flex: 1;
}

.small-heading {
  font-size: 16px;
  color: #c7a35c;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-heading {
  font-size: 38px;
  font-weight: 700;
  margin: 15px 0 20px 0;
  color: #222;
  line-height: 1.3;
}

.main-heading span {
  color: #c79c34;
}

.about-text {
  font-size: 17px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 18px;
  text-align:justify;
}

.about-btn {
  padding: 14px 30px;
  background: #c79c34;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
}

.about-btn:hover {
  background: #a9822d;
  transform: translateY(-3px);
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .about-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 60px 6%;
  }

  .about-image {
    height: 350px;
  }

  .main-heading {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .about-image {
    height: 280px;
  }

  .main-heading {
    font-size: 28px;
  }

  .about-text {
    font-size: 15px;
  }
}
